.expense-item {
  display: grid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  grid-template-areas: "date description price";
  grid-gap: 20px;
  background-color: skyblue;
}
.expense-item__date {
  grid-area: date;
  margin-left: 10px;
}
.expense-item__description {
  grid-area: description;
  margin-left: 10px;
}
.expense-item__price {
  grid-area: price;
}
